<html>
   <body>
      <h1>Arithmetic Microservices</h1>
      <form action="" method="POST">
         <!-- Hint 1: What if input "first" and "second" had default values? -->
         Enter the First number : <input name="first" autocomplete="off" placeholder="0" value="2">
         <br>
         Enter the Second number: <input name="second" autocomplete="off" placeholder="0" value="3">
         <br>
         Enter Operation: <select id="op" name="operation">
            <option value="add">Addition</option>
            <option value="minus">Subtraction</option>
            <option value="mul">Multiplication</option>
            <option value="div">Division</option>
            <option value="gcd">GCD</option>
            <option value="modulo">Modulo</option>
            <option value="lcm">LCM</option>
            <option value="exp">Exponentiation</option>
            <option value="gt">Greater than</option>
            <option value="lt">Less than</option>
            <option value="equal">Equal</option>
          </select>
         <br><br>
         <input type="submit" name="submit_button">
      </form>
        {% for message in get_flashed_messages() %}
         {{message}}
      {% endfor %}
   </body>
</html>
